body {
    background-color: #1E1E1E;
    color: white;
    text-align: center;
}

a {
    color: #4FCC8B;
}

a:hover {
    color: #8ADDFF;
}

h1 {
    margin: 1em 0 0.5em;
}

h2 {
    margin: 0.7em 0;
}