---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import "minima";

a.site-title em {
    color: whitesmoke;
    font-style: normal;
}

a.site-title:hover {
    text-decoration: none;
}

a.site-title:hover em {
    color: silver;
    text-decoration: none;
}

.footer-heading {
    display: none;
}